* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.repos-container {
  width: 800px;
  background-color: #f6f6f6;
  margin: auto;
}
.repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}
.repos-container .get-repos input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  height: 54px;
}
.repos-container .get-repos input:focus {
  outline: 2px solid #f44336;
}
.repos-container .get-repos .get-button {
  width: 140px;
  margin-left: 10px;
  height: 54px;
  background-color: #f44336;
  color: #fff;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.repos-container .show-data {
  padding: 20px;
  background-color: #e0e0e0;
}
.repos-container .show-data .repo-box {
  background-color: #fff;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  gap: 10px;
}
.repos-container .show-data .repo-box:not(:last-child) {
  margin-bottom: 5px;
}
.repos-container .show-data .repo-box a,
.repos-container .show-data .repo-box span {
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  width: 90px;
  text-align: center;
  padding: 4px;
}
.repos-container .show-data .repo-box a {
  text-decoration: none;
  background-color: #e91e63;
}
.repos-container .show-data .repo-box span {
  background-color: #009688;
}
